<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"	
	crossorigin="anonymous">
	<!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" -->
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/courses}">Courses Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Course </h1>
				<div class = "card-body">
					  <form th:action="@{/courses/{id} (id=${course.id})}" th:object = "${course}" method="POST">
				<!--	<form th:action="@{/courses/saveCourse}" th:object = "${course}" method="POST">		
					<input type="hidden" th:field="*{id}">  -->
						
						<div class ="form-group">
							<label> Course code </label>
							<input
							type = "text"
							name = "code"
							th:field = "*{code}"
							class = "form-control"
							placeholder="Enter Course code" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Course Name </label>
							<input
							type = "text"
							name = "Name"
							th:field = "*{name}"
							class = "form-control"
							placeholder="Enter Course Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Course Type </label>
							<input
							type = "text"
							name = "type"
							th:field = "*{type}"
							class = "form-control"
							placeholder="Enter Course Type" 
							/>
						</div>
							
						<div class ="form-group">
							<label> Course Academic Year </label>
							<input
							type = "text"
							name = "academicYear"
							th:field = "*{academicYear}"
							class = "form-control"
							placeholder="Enter Course Academic Year" 
							/>
						</div>
						
						
						 <div class="form-input-item">Teacher: </div>
						 <select th:name="teacherId">
							<option th:each="t : ${teachers}"
				                    th:value="${t.id}"
				                    th:text="${t.firstName + ' ' + t.lastName}" />			
						</select>
						
						<!--  <div class ="form-group">
							<label> Student Academic Division </label>
							<input
							type = "text"
							name = "teacher"
							th:field = "*{teacher.name}"
							class = "form-control"
							placeholder="Enter Course AcademicTeacher
						</div>-->
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>